@import lib/select

@import styles/na-lite
@import styles/variables

.screenshot-in-progress::after
	content: "Downloading..."
	position: fixed
	padding-top: 50vh
	text-align: center
	left: 0
	right: 0
	top: 0
	bottom: 0
	background-color: white
	z-index: 10

h1, h2, h3, h4, h5, h6
	margin: 0

.dv-dashboard
	$root: &

	margin-top: 2rem
	display: grid
	grid-gap: 2rem

	@media screen and (min-width: 800px)
		height: calc(100vh - 70px - 65px - 35px - 2rem)
		grid-template-columns: 1fr 2fr
		grid-gap: 1rem
		overflow: hidden
		
	&__column
		@media screen and (min-width: 800px)
			max-width: 100%
			height: 100%
			padding-right: 1rem
			height: 100%

		&--data
			@media screen and (min-width: 800px)
				overflow-y: scroll
				padding-top: 0.5rem

		&--nav
			display: flex
			flex-direction: column
			@media screen and (min-width: 800px)
				overflow-y: hidden

	&__nav-title
		flex-shrink: 0
		margin-bottom: 0.5rem

	&__nav-heading
		flex-shrink: 0
		margin:
			top: 1rem
			bottom: 0.5rem
		@media screen and (min-height: 600px)
			margin:
				top: 1.5rem
				bottom: 0.75rem
		@media screen and (min-height: 700px)
			margin-top: 2rem

.dv-button-group
	$root: &

	overflow-y: scroll

	&--findings
		display: flex
		flex-direction: column
		@media screen and (min-height: 600px)
			flex-shrink: 0
			overflow-y: auto
			font-size: 1.1rem

	&--filters
		flex-shrink: 2
		font-size: 0.8rem
		@media screen and (min-height: 600px)
			font-size: 0.85rem
		@media screen and (min-height: 700px)
			font-size: 0.9rem

	&__button
		padding: 0.3em 0
		background: none
		border: none
		text-transform: none
		font-size: 1em
		line-height: 1
		letter-spacing: 0
		font-weight: normal
		text-align: left

		&:hover, &:active
			cursor: pointer
			color: $na-color__primary

		#{$root}--filters &
			$padding: 0.3em
			display: inline-block
			padding: $padding 1.5*$padding
			border-radius: 0.5em + $padding
			border-radius: 0
			border: 1px solid $grey--medium
			color: $color__text--light
			margin:
				right: $padding
				bottom: $padding

			&:hover, &:active
				color: $na-color__primary
				border-color: $na-color__primary
		
		&--active
			font-weight: bold

			&:hover, &:active
				background: none
				cursor: inherit

			#{$root}--findings &
				&::before
					content: "▸ "
					color: $na-color__primary

			#{$root}--filters &
				font-weight: normal
				color: white
				border-color: $color__text--light
				background-color: $color__text--light
				&:hover, &:active
					color: white
					background-color: $na-color__primary

.dv-individual-chart
	background-color: $grey--chart-background
	padding: 1.5rem
	max-width: 650px

.custom-chart,
.datawrapper-chart
	$root: &
	
	margin-top: 2rem

	&--individual-chart,
	&--partial-chart,
	.screenshot-in-progress &
		margin-top: 0

	&--partial-chart &__meta
		display: none

		.screenshot-in-progress &
			display: block

	&__title
		margin-bottom: 0.5rem

		&--specific
			margin-top: 1rem
	
	&__message
		font-size: 1rem
		margin: 0 0 0.5rem
		line-height: 1
		font-style: italic

	&__footer
		display: flex
		justify-content: space-between

.legend
	list-style: none
	margin:  1rem 0
	padding: 0

	&__item
		display: inline-block
		margin-right: 0.5em
		margin-bottom: 0.5em
		padding: 0.3em 0.5em 0.3em 0.4em
		font-size: 14px
		line-height: 1
		border-left: 0.4em solid transparent
		background-image: linear-gradient(rgba(white, 0.8), rgba(white, 0.8))
		font-family: Circular
		font-variant-numeric: lining-nums

.n-value
	display: block
	margin-top: -5px
	color: $color__text--light

	// &__item:not(:last-child)::after
	// 	content: "; "

.download-button
	position: relative
	top: -5px
	z-index: 2
	color: $color__text--light
	padding: 0
	border: none
	background: white
	transition: color 0.2s ease-in-out

	&:hover
		color: $color__text

.vx-tooltip-portal
	z-index: 1000

.tooltip
	&__title
		margin: 0 0 0.3em

	&__subtitle
		font-weight: normal
		color: $color__text--light

.tooltip-table
	$root: &

	border-collapse: collapse
	color: $color__text
	max-width: 300px

	&__tr
		background-image: linear-gradient(rgba(white, 0.9), rgba(white, 0.9))
		border-left: 0.5em solid transparent
		transition: border $transition__bar-delay, background $transition__bar-delay

		&--zero-value
			color: $color__text--light

		&--active
			border-left-width: 0.75em
			background-image: linear-gradient(rgba(white, 0.7), rgba(white, 0.7))

	&__td
		padding: 0.4em

		#{$root}__tr:last-child & // TODO do this on tooltip styles
			padding-bottom: 0.2em
		
		&--datum
			text-align: right

.bar
	$root: &

	&__rectangle
		transition: fill $transition--bar, stroke-opacity $transition--bar, stroke $transition--bar
		stroke-opacity: 0

	&__text
		fill: $color__text
		pointer-events: none
		font-size: 14px
		transition: fill $transition--bar

		&--outside
			fill: $color__text--light

	&--color-005E57,  // #005E57
	&--color-107C74,  // #107C74
	&--color-209B93,  // #209B93
	// &--color-2FBCB3,  // #2FBCB3
	&--color-004275,  // #004275
	&--color-055795,  // #055795
	&--color-0E6DB6,  // #0E6DB6
	// &--color-1185E0,  // #1185E0
	&--color-743083,  // #743083
	&--color-8D4A9B,  // #8D4A9B
	&--color-AB0009,  // #AB0009
	&--color-C01E22,  // #C01E22
	// &--color-F33F47,  // #eb4a52
	&--color-5A3000,  // #5A3000
	&--color-743F03,  // #743F03
	&--color-904E04,  // #904E04
	&--color-AC5E06,  // #AC5E06
	&--color-005E57,  // #005E57
	&--color-137A7C,  // #137A7C
	&--color-3597A0,  // #3597A0
	&--color-333333,   // #333333
	&--color-515151,   // #515151
	&--color-717171,   // #717171
		#{$root}__text--inside
			fill: white

.bars:hover
	.bar__rectangle
		stroke-opacity: 1

	.bar-stack:not(:hover),
	.bar-group .bar:not(.bar--key-hover)
		.bar__rectangle
			fill: white
		.bar__text--inside
			fill: $color__text

	.bar--key-hover:not(:hover)
		.bar__text--outside
			font-weight: bold

.bar:hover
	.bar__rectangle
		stroke: $color__text
	.bar__text
		font-weight: bold
		&--outside
			fill: $color__text

.logo-text
	font-size: 12px
	margin-top: 10px
	text-transform: uppercase
