.na-dataviz
	margin-bottom: 1rem
	
.dv-btn-group
	display: flex
	flex-direction: column

.dv-btn // TODO real styles
	padding: 1em
	background: none
	border-radius: 0
	border: 1px solid #333
	text-transform: none
	font-size: 1rem
	line-height: 1.2
	letter-spacing: 0

	&:not(:first-child)
		border-top-width: 0

	&:hover, &:focus, &:active
		background-color: rgba(#333, 0.2)
		cursor: pointer

	&-active // TODO real styles
		background-color: #333
		color: white

		&:hover, &:focus, &:active
			background-color: rgba(#333, 0.8)

.chart
	&--individual
		background-color: #efefef
		padding: 1rem

.dv-chart
	display: grid
	grid-gap: 2rem

	@media screen and ( min-width: 800px )
		height: calc(100vh - 4rem)
		grid-template-columns: 1fr 2fr
		
		&__column
			height: 100%
			overflow-y: scroll
